/* Choix.module.css */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Reduce bottom margin */
}

.header {
    background-color: #99ab75; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px; /* Rounded corners */
    margin: 20px auto; /* Center horizontally with margin */
    width: fit-content;
    font-family: 'Lucida Handwriting', cursive; 
}

.Choix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; /* Reduce the gap */
    padding: 0;
    justify-content: center; /* Center the grid */
}

.imageContainer {
    position: relative;
    width: 200px; /* Set a fixed width */
    height: 260px; /* Adjust height */
    text-align: center; /* Center text under images */
}

.discountTag {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: green; /* Green background */
    color: white; /* White text */
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.breadcrumbContainer {
    align-self: flex-start; /* Align to the start of the flex container */
    font-family: 'Lucida Handwriting', cursive;
    font-size: small;
    margin-left: 50px; /* Add some left margin */
}

.breadcrumb {
    color: grey;
    margin: 0; /* Remove margin to ensure they are on the same line */
    font-family: 'Lucida Handwriting', cursive;
}
